<table>
  <tr>
    <th>language</th>
    <th>study_type</th>
    <th>title</th>
    <th>duration</th>
    <th>date</th>
  </tr>
  <tr>
      <td><%= @time.first[:language] %></td>
      <td><%= @time.first[:study_type] %></td>
      <td><%= @time.first[:title] %></td>
      <td><%= @time.first[:duration] %></td>
      <td><%= @time.first[:date] %>
  </tr>
</table>
