<h3><a href="/">summary</a></h3>

<h2>New time</h2>
<form action="times" method="post">
  <input type="text" name="language" placeholder="language" value="<%= @language %>">
  <input type="text" name="study_type" placeholder="study type" value="<%= @study_type %>">
  <input type="text" name="title" placeholder="title" value="<%= @title %>">
  <input type="text" name="time" placeholder="time (min)" value="<%= @time %>">
  <input type="text" name="date_sub" placeholder="YYYY-DD-MM" value="<%= @date_sub %>">
  <button type="submit">submit</button>
</form>

<table>
  <% @storage.all_times.each do |time| %>
  <tr>
    <th>language</th>
    <th>study_type</th>
    <th>title</th>
    <th>duration</th>
    <th>date</th>
  </tr>
  <tr>
    <td><%= time[:language] %></td>
    <td><%= time[:study_type] %></td>
    <td><%= time[:title] %></td>
    <td><%= time[:duration] %></td>
    <td><%= time[:date] %></td>
  </tr>
  <% end %>
</table>
